## A. Short Answer Questions

### 1. What is the difference between a parameter and an argument ?

<strong>Ans:</strong><br>
Parameter is variable in the declaration of function. Argument is the actual value of this variable that gets passed to function.

### 2. What is the difference between 10 / 3 and 10 // 3 in python ?

<strong>Ans:</strong>

In [6]:
10 / 3

3.3333333333333335

In [7]:
10 // 3

3

`10 / 3` gives result with decimal values where as `10 // 3` gives only the integer part of the quotient.

### 3. What does range(1, 10, 2) return ?

<strong>Ans:</strong>

In [12]:
for a in range(1, 10, 2):
    print(a)

1
3
5
7
9

`range(1, 10, 2)` returns number from 1 to (10-1) with difference of 2

### 4. How can we make a parameter of a function optional ?

<strong>Ans:</strong>

In [14]:
def optional(y, x = 0):
    print(x, y)

In [16]:
optional(1, 5)

5 1

In [18]:
optional(1)

0 1

By initializing parameter inside the function we can make it optional

### 5. What is the difference between local and global variables ?

<strong>Ans:</strong>
<em>LOCAL</em> variable can be access with in the scope of some program module of methods whereas <em>GLOBAL</em> variable can be access through out the project.

### 6. Assuming (name = “John Smith”)

#### a. What does name[1] return ?

<strong>Ans:</strong>

In [23]:
name = "John Smith"
name[1]

'o'

`name[1]` return `o` as indexing start from 0

#### b. What about name[-2] ?

<strong>Ans:</strong>

In [24]:
name[-2]

't'

`name[-2]` return `t` because negative indexing looks from the last whereas indexing start from -1

#### c. What about name[1:-1] ?

<strong>Ans:</strong>

In [26]:
name[1:-1]

'ohn Smit'

`name[1:-1]` return `ohn Smit` because first part before colon indicate indexing from left side and part after colon indicate indexing from right side.

#### d. What will name.title() return ?

<strong>Ans:</strong>

In [27]:
name.title()

'John Smith'

`name.title()` will return the value of the variable `name`

#### e. What does name.strip() do ?

<strong>Ans:<strong>

In [34]:
b = '      sandeep     po    khrel       '
print(b)
print(b.strip())

      sandeep     po    khrel
sandeep     po    khrel

`name.strip()` will truncate or remove the trailing spaces from begining and end of the values

#### f. What will name.find(“Smith”) return ?

<b>Ans:</b>

In [35]:
name.find("Smith")

5

`name.find("Smith")` return the indexing at which the string pattern matched

#### g. What will be the value of name after we call name.replace(“j”, “k”) ?

<b>Ans:</b>

In [42]:
name.replace("J", "k")

'kohn Smith'

Return a copy with all occurrences of substring old replaced by new.

#### h. How can we check to see if name contains “John” ?

<b>Ans:</b>

In [48]:
name.find("John")

0

If `name` does not contain the searched value then, it will return -1

## B. Exercise

### 1. Write a function that returns the maximum of two numbers.

In [52]:
# function that returns maximum of two numbers
def max_return(a, b):
    if a > b:
        return a
    else: 
        return b

In [53]:
max_return(10, -3)

10

In [54]:
max_return(36, 56)

56

### 2. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). Example : Sample_Dictionary( n = 5) : Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [59]:
# function to generate dictionary
def sample_dictionary(n):
    dictionary = {}
    for i in range(1, n+1):
        dictionary[i] = i*i
    print(dictionary)

In [60]:
sample_dictionary(9)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [62]:
sample_dictionary(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 3. Write a Python class which has two methods: get_String and print_String. get_String accepts a string from the user and print_String print the string in upper case.

In [71]:
# defining class to get and print string
class for_String:
    def get_String(self, s):
        self.string = s.upper()
    def print_String(self):
        print(self.string)

In [72]:
str_obj = for_String()
str_obj.get_String('Sandeep')
str_obj.print_String()

SANDEEP

### 4. Write a function called fizz_buzz that takes a number. 
a. If the number is divisible by 3, it should return “Fizz”. <br>
b. If it is divisible by 5, it should return “Buzz”. <br>
c. If it is divisible by both 3 and 5, it should return “FizzBuzz”. <br>
d. Otherwise, it should return the same number. <br>

In [78]:
def fizz_buzz(n):
    if (n % 3 == 0) and (n % 5 == 0):
        print("FizzBuzz")
    elif n % 5 == 0:
        print("Buzz")
    elif n % 3 == 0:
        print("Fizz")
    else:
        print(n)

In [79]:
fizz_buzz(27)

Fizz

In [80]:
fizz_buzz(30)

FizzBuzz

In [81]:
fizz_buzz(100)

Buzz

In [82]:
fizz_buzz(69)

Fizz

In [84]:
fizz_buzz(16)

16

### 5. Write a regular expression that will match an email, an email is a string which has the format ‘abcd@gmail.com’ or ‘xyz@yahoo.com’ i.e., any string followed by ‘@’ symbol followed by any string followed by ‘.’ symbol followed by ‘com’.

In [91]:
import re

In [92]:
regex = '^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'

In [93]:
def check_email(email):
    if re.search(regex, email):
        print("Email is valid")
    else:
        print("Email is not valid")

In [94]:
check_email('sundeepp29@gmail.com')

Email is valid

In [95]:
check_email('saugat.com')

Email is not valid

In [96]:
check_email('abc@yahhoo.org')

Email is valid

### 6.  Write a program that takes the following input and dumps the output in the given format into a json file named ‘student_details.json’.

In [86]:
n = int(input("Enter the number of students: "))
student = []
for n in range(n):
    student.append({
        'name': input("Enter Name: "),
        'address': input("Enter Address: "),
        'phone': input("Enter Phone Number: "),
        'college': input("Enter College Name: ")
    })

Enter the number of students: 5
Enter Name: Sandeep Pokhrel
Enter Address: Butwal
Enter Phone Number: 9868338755
Enter College Name: Nepathya College
Enter Name: Rajesh Hamal
Enter Address: Kathmandu
Enter Phone Number: 9876543212
Enter College Name: Nepal Film City College
Enter Name: K.P Oli
Enter Address: Taplejing
Enter Phone Number: 987878767
Enter College Name: Comedy International College
Enter Name: Donald Trump
Enter Address: America
Enter Phone Number: 013456785678
Enter College Name: WWE Championship College
Enter Name: Narendra Modi
Enter Address: Bihar
Enter Phone Number: 9134567898
Enter College Name: Mitron College of Bihar

In [87]:
student

[{'name': 'Sandeep Pokhrel',
  'address': 'Butwal',
  'phone': '9868338755',
  'college': 'Nepathya College'},
 {'name': 'Rajesh Hamal',
  'address': 'Kathmandu',
  'phone': '9876543212',
  'college': 'Nepal Film City College'},
 {'name': 'K.P Oli',
  'address': 'Taplejing',
  'phone': '987878767',
  'college': 'Comedy International College'},
 {'name': 'Donald Trump',
  'address': 'America',
  'phone': '013456785678',
  'college': 'WWE Championship College'},
 {'name': 'Narendra Modi',
  'address': 'Bihar',
  'phone': '9134567898',
  'college': 'Mitron College of Bihar'}]

In [88]:
import json

In [90]:
with open('student_details.json', 'w') as f:
    json.dump(student, f)